<div class="row mt-4">
    <table class="table col-md-7">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del impuesto</th>
            <th scope="col">Monto</th>
            <th scope="col">Fecha desde</th>
            <th scope="col">Fecha hasta</th>
            <th scope="col">Opciones</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let impuesto of impuestos; let i = index">

              <td>{{impuesto.id_impuesto}}</td>
              <td>{{impuesto.nombre_impuesto}}</td>
              <td>{{impuesto.monto}}</td>
              <td>{{impuesto.fecha_desde}}</td>
              <td>{{impuesto.fecha_hasta}}</td>
              <td><button class="btn btn-link" (click)="obtenerImpuesto(impuesto)"><i class="material-icons text-secondary">edit</i></button>
                <button class="btn btn-link" (click)="eliminarImpuesto(impuesto)"><i class="material-icons text-danger">close</i></button></td>

          </tr>
        </tbody>
      </table>

      <div class="card col-md-4 offset-md-1">
      <h4 class="card-header bg-white text-center">
        Manejo de impuestos
      </h4>
      <div class="card-body">
        <form>
          <input type="number" class="form-control" #id_impuesto  name="id_impuesto" [(ngModel)]="impuesto.id_impuesto" hidden required>
          <div class="form-group">
            <label for="nombre_impuesto">Nombre del impuesto</label>
            <input type="text" class="form-control" #nombre_impuesto name="nombre_impuesto" [(ngModel)]="impuesto.nombre_impuesto" required>
          </div>
          <div class="form-group">
            <label for="monto">Monto</label>
            <input type="number" class="form-control" #monto  name="monto" [(ngModel)]="impuesto.monto"  required>
          </div>
          <div class="form-group">
              <label for="fecha_desde">Fecha desde</label>
              <input type="date" class="form-control" #fecha_desde  name="fecha_desde" [(ngModel)]="impuesto.fecha_desde" required>
          </div>
          <div class="form-group">
              <label for="fecha_hasta">Fecha hasta</label>
              <input type="date" class="form-control" #fecha_hasta name="fecha_hasta" [(ngModel)]="impuesto.fecha_hasta" required>
          </div>
          <button class="btn btn-primary" *ngIf="agregar" (click)="agregarImpuesto(id_impuesto.value, nombre_impuesto.value, monto.value, fecha_desde.value, fecha_hasta.value);">
            Agregar</button>

            <button class="btn btn-primary" *ngIf="editar" (click)="editarImpuesto(id_impuesto.value, nombre_impuesto.value, monto.value, fecha_desde.value, fecha_hasta.value);">
                Editar</button>
            <button class="btn btn-secondary ml-2" *ngIf="editar" (click)="volver()">
                    Cancelar</button>
        </form>
      </div>
    </div>


</div>